


<p>
  <mat-toolbar color="primary">
    
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button> -->
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/categoria']">
        <mat-icon>class</mat-icon>
        <span>Categoria</span>
      </button>
      <button mat-menu-item [routerLink]="['/produto']">
        <mat-icon>fastfood</mat-icon>
        <span>Produto</span>
      </button>
      <button mat-menu-item >
        <mat-icon>perm_identity</mat-icon>
        <span>Perfil</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Desativar Notificacoes</span>
      </button>
    </mat-menu>

    <span>UFidelidade</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  
</p>