<mat-card class="typography-content__item-wrapper">
  <mat-card-title class="d-flex justify-content-between">
      <!-- TODO: trocar por um input de search, busca categoria por nome: https://mdbootstrap.com/docs/angular/tables/search/#docsTabsOverview -->
      <p>Clientes com Pontuação</p>
      <button mat-raised-button color="primary" (click)="openDialog()"><span class="material-icons mr-2 pb-1">
        add
        </span>Adicionar pontuacao</button>
  </mat-card-title>
  <mat-card class="fundo-lightcoral" *ngIf="msgError"><span>{{ msgError }}</span></mat-card>

</mat-card>
