<mat-card class="typography-content__item-wrapper">
    <mat-card-title class="d-flex justify-content-between">
        <!-- TODO: trocar por um input de search, busca categoria por nome: https://mdbootstrap.com/docs/angular/tables/search/#docsTabsOverview -->
        <p>Funcionarios</p>
        <button mat-raised-button color="primary" (click)="openDialog()"><span class="material-icons mr-2 pb-1">
            add
            </span>Adicionar funcionario</button>
    </mat-card-title>
    <mat-card class="fundo-lightcoral" *ngIf="msgError"><span>{{ msgError }}</span></mat-card>
    <table class="table table-hover table-borderless table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Status</th>
                <th scope="col">CPF</th>
                <th scope="col">Email</th>
                <th scope="col">Senha</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: quem sabe adicionar um paginator -->
            <tr *ngFor="let funcionario of listaFuncionarios$ | async">
                <td>{{funcionario.idFuncionario}}</td>
                <td *ngIf="funcionario.nome">{{funcionario.nome}}</td>
                <td>{{funcionario.status ? 'Ativo':'Inativo'}}</td>
                <td>{{funcionario.cpf}}</td>
                <td>{{funcionario.email}}</td>
                <td>{{funcionario.senha}}</td>
                <td class="text-right">
                    <button mat-raised-button color="accent" class="mr-3" (click)="editFuncionario(funcionario)">
                        <span class="material-icons mr-2 pb-1" style="font-size: 15px;">
                        edit
                        </span>Editar</button>
                    <button mat-raised-button style="background-color: #e63946; color: white;" (click)="deleteFuncionario(funcionario)">
                        <span class="material-icons mr-2 pb-1" style="font-size: 16px;">
                        delete
                        </span>Apagar</button>
                </td>

            </tr>
        </tbody>
    </table>
</mat-card>
