<mat-card class="typography-content__item-wrapper">
    <mat-card-title class="d-flex justify-content-between">
        <p>Clientes</p>
        <button mat-raised-button color="primary" (click)="openDialog()"><span class="material-icons mr-2 pb-1">
            add
            </span>Adicionar cliente</button>
    </mat-card-title>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bebida</td>
                <td class="text-right">
                    <!-- <button mat-raised-button style="background-color: aquamarine;">Basic</button>
                    <button mat-raised-button color="primary">Primary</button> -->
                    <button mat-raised-button color="accent" class="mr-3">
                        <span class="material-icons mr-2 pb-1" style="font-size: 15px;">
                        edit
                        </span>Editar</button>
                    <button mat-raised-button style="background-color: #e63946; color: white;">
                        <span class="material-icons mr-2 pb-1" style="font-size: 16px;">
                        delete
                        </span>Apagar</button>
                </td>

            </tr>
            <tr>
                <td>Comida</td>
                <td class="text-right">
                    <button mat-raised-button color="accent" class="mr-3">
                        <span class="material-icons mr-2 pb-1" style="font-size: 15px;">
                        edit
                        </span>Editar</button>
                    <button mat-raised-button style="background-color: #e63946; color: white;">
                        <span class="material-icons mr-2 pb-1" style="font-size: 16px;">
                        delete
                        </span>Apagar</button>
                </td>

            </tr>
            <tr>
                <td>Janta</td>
                <td class="text-right">
                    <button mat-raised-button color="accent" class="mr-3">
                        <span class="material-icons mr-2 pb-1" style="font-size: 15px;">
                        edit
                        </span>Editar</button>
                    <button mat-raised-button style="background-color: #e63946; color: white;">
                        <span class="material-icons mr-2 pb-1" style="font-size: 16px;">
                        delete
                        </span>Apagar</button>
                </td>

            </tr>
        </tbody>
    </table>
</mat-card>