<div class="auth-page">
  <div class="auth-page__content-block">
    <div class="auth-page__content-wrapper">
      <mat-tab-group class="auth-page__group">
        <mat-tab label="Login">

            <div class="auth-page__border-wrapper">
             </div>

          <app-login-form (sendLoginForm)="sendLoginForm()"></app-login-form>

        </mat-tab>
        <mat-tab label="Login Adm">

          <div class="auth-page__border-wrapper">
          </div>
          <app-login-adm-form></app-login-adm-form>

        </mat-tab>
      </mat-tab-group>


    </div>
  </div>
  <div class="auth-page__logo">
    <div class="auth-page__logo-wrapper">
      <img class="auth-page__logo-img" src="./assets/auth/logo.svg" alt="logo">
      <h6 class="auth-page__logo-title">Sistema Fidelidade</h6>
    </div>
  </div>
</div>
