<h1 class="mt-4">Produtos</h1>
<div class="container">
    <form #produto="ngForm" (ngSubmit)="onSubmit()" >

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Cliente salvo/atualizado com sucesso!    
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro  }}    
                </div>
            </div>
        </div>

        <div class="row" *ngIf="produto.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" [ngModel]="produto.id" name="id" class="form-control" disabled="true" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome: *</label>
                    <input type="text" class="form-control" 
                           [(ngModel)]="produto.nome" name="nome"   />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Pontos recebidos: *</label>
                    <input type="text" class="form-control" 
                            [(ngModel)]="produto.pontosRecebidos" name="pontosRecebidos"  />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" *ngIf="!produto.id">
                    <i class="fa fa-save" ></i> Salvar
                </button>

                <button type="submit" class="btn btn-primary" *ngIf="produto.id">
                    <i class="fa fa-sync-alt" ></i> Atualizar
                </button>

                <button type="button" class="btn btn-danger ml-1" >
                    <i class="fa fa-arrow-alt-circle-left" ></i> Voltar
                </button>
            </div>
     
        </div>
    </form>
</div>