<mat-list>
    <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
        <mat-icon>home</mat-icon> Dashboard
    </mat-list-item>
    <mat-list-item routerLink="{{routes.FUNCIONARIO}}" routerLinkActive="active">
        <mat-icon>supervisor_account</mat-icon> Funcionário
    </mat-list-item>
    <mat-list-item routerLink="{{routes.CLIENTE}}" routerLinkActive="active">
        <mat-icon>person</mat-icon> Cliente
    </mat-list-item>
    <mat-list-item routerLink="{{routes.CATEGORIA}}" routerLinkActive="active">
        <mat-icon>class</mat-icon> Categoria
    </mat-list-item>
    <mat-list-item routerLink="{{routes.PRODUTO}}" routerLinkActive="active">
        <mat-icon>fastfood</mat-icon> Produto
    </mat-list-item>
</mat-list>

<p class="sidebar-title">Help</p>

<mat-list>
    <mat-list-item>
        <mat-icon>library_books</mat-icon> Library
    </mat-list-item>
    <mat-list-item>
        <mat-icon>question_answer</mat-icon> Support
    </mat-list-item>
    <mat-list-item>
        <mat-icon>help_outline</mat-icon> FAQ
    </mat-list-item>
</mat-list>

<p class="sidebar-title">Projects</p>

<mat-list>
    <mat-list-item>
        <div class="project-circle project-circle_yellow"></div> My resend </mat-list-item>
    <mat-list-item>
        <div class="project-circle project-circle_blue"></div> Starred</mat-list-item>
    <mat-list-item>
        <div class="project-circle project-circle_pink"></div> Background </mat-list-item>
</mat-list>