<!-- <mat-card class="typography-content__item-wrapper">
    <mat-card-title class="d-flex justify-content-between">
        <p>Adicionar Pontos</p> -->
        <!-- <button mat-raised-button color="primary" (click)="openDialog()"><span class="material-icons mr-2 pb-1">
            add
            </span>Adicionar Pontos</button> -->
    <!-- </mat-card-title> -->

    <!-- <mat-card class="fundo-lightcoral" *ngIf="msgError"><span>{{ msgError }}</span></mat-card> -->
    <!-- <mat-card-content>
        <form id="add-form" (ngSubmit)="saveCategoria()" [formGroup]="formulario" novalidate>

            <mat-card class="fundo-lightcoral" *ngIf="msgError"><span>{{ msgError }}</span></mat-card>
    
            <div class="form-group" hidden>
                <label for="idCategoria">idCategoria</label>
                <input type="text" id="idCategoria" formControlName="idCategoria" class="form-control">
            </div>
    
            <div class="form-group"> -->
                <!-- <label for="nome">Nome</label> -->
                <!-- <div class="row">
                    <div class="col-2"> 
                        <input type="text" id="nome" formControlName="nome" class="form-control" placeholder="CPF do Cliente" [ngClass]="aplicaCssErro('nome')">
                        <div *ngIf="verificaValidTouched('nome')">
                            <span class="font-red">Nome é obrigatório</span>
                        </div>
                    </div> -->
                    <!-- abrir dialog com os clientes -->
                    <!-- <div class="col">
                        <button mat-raised-button color="primary" (click)="openDialog()"><span class="material-icons mr-2 pb-1">
                            search
                            </span>Buscar Cliente</button>
                    </div>
                </div>
            </div>
        </form> -->
        <!-- aqui fica a lista de produtos -->
        <!-- <div *ngFor="let prod of listaProdutos$ | async">
            <mat-card class="typography-content__item-wrapper">
                <mat-card-title class="d-flex justify-content-between">
                    <p>{{prod.idProduto}} - {{prod.nome}} - {{prod.status ? 'Ativo' : 'Inativo'}}</p>
                    <div>
                        <button mat-raised-button color="accent" class="mr-3" (click)="editProduto(prod)">
                        <span class="material-icons mr-2 pb-1" style="font-size: 15px;">
                        edit
                        </span>Editar</button>
                        <button mat-raised-button style="background-color: #e63946; color: white;" (click)="deleteProduto(prod)">
                        <span class="material-icons mr-2 pb-1" style="font-size: 16px;">
                        delete
                        </span>Apagar</button>
                    </div>
                </mat-card-title>
                <img mat-card-image src="{{prod.type}}" class="imagem ">
            </mat-card>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div class="d-flex justify-content-between">
            <button type="reset" mat-raised-button color="accent" class="mr-3" (click)="resetar()">
                Limpar</button>
            <button type="submit" mat-raised-button style="background-color: #06d6a0; color: white;">
                Salvar</button>
        </div>
    </mat-card-actions>
    
</mat-card> -->