<mat-card class="typography-content__item-wrapper">
    <mat-card-title class="d-flex justify-content-between">
        <p>Produtos</p>
        <button mat-raised-button color="primary" (click)="openDialog()"><span class="material-icons mr-2 pb-1">
            add
            </span>Adicionar produto</button>
    </mat-card-title>
</mat-card>
<div *ngFor="let prod of listaProdutos$ | async">
    <mat-card class="typography-content__item-wrapper">
        <mat-card-title class="d-flex justify-content-between">
            <p>{{prod.idProduto}} - {{prod.nome}} - {{prod.status ? 'Ativo' : 'Inativo'}}</p>
            <div>
                <button mat-raised-button color="accent" class="mr-3" (click)="editProduto(prod)">
                <span class="material-icons mr-2 pb-1" style="font-size: 15px;">
                edit
                </span>Editar</button>
                <button mat-raised-button style="background-color: #e63946; color: white;" (click)="deleteProduto(prod)">
                <span class="material-icons mr-2 pb-1" style="font-size: 16px;">
                delete
                </span>Apagar</button>
            </div>
        </mat-card-title>
        <img mat-card-image src="{{prod.type}}" class="imagem ">
    </mat-card>
</div>